body {
    background-color: #D5E1EF;
}

.container {
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    padding-block: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container div,
img {
    margin-left: 1rem;
    margin-right: 1rem;
}

.imgFrame {
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    position: relative;
}

.title {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0rem;
    margin-top: 1.5rem;
    text-align: center;
    color: #1F314F;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.textContainer {
    width: 18rem;
    margin-bottom: 1.5rem;
    padding-inline: 1rem;
}

.textParagraph {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0.01rem;
    color: #68778D;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}